In [21]:
import pandas as pd
import numpy as np
from scipy.stats import mode
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
import pandas_profiling
from datetime import datetime

In [22]:
def num_to_letter(number):
    switcher = {
        1: "A",
        2: "C",
        3: "L",
        4: "M",
        5: "O",
        6: "U"
    }
    return switcher.get(number, "Invalid month")

In [28]:
path = 'dataset-proyecto/' #enter thepath for the dataset folder
num_letters = range(1,2) #7
trials = range(1,2) #6
users=range(2,3) #6
fsadl1= pd.DataFrame()

header_path = 'header-proy.csv' #enter the path for the header file
header=pd.read_csv(header_path,names=['column',''],sep=';', decimal=',')['column'].values

for num_letter in num_letters:
    letter = num_to_letter(num_letter)
    for user in users:
        for trial in trials:
            file_name = path+str(letter)+'-'+str(user)+'-'+str(trial)+'.csv'
            print(str(letter)+'-'+str(user)+'-'+str(trial)+'.csv')
            fsadl1 = pd.read_csv(file_name, sep=';', decimal=',', names=header)
            
            
            fsadl1[fsadl1.columns[1]] = pd.to_datetime(fsadl1[fsadl1.columns[1]], format='%H.%M.%S.%f', errors='ignore')
            #print(fsadl1.dtypes)
            for ind in range(0,len(fsadl1.index)):
                resta= fsadl1[fsadl1.columns[1]][ind] - fsadl1[fsadl1.columns[1]][0]
                fsadl1[fsadl1.columns[2]][ind] =  resta.total_seconds()*1000
            fsadl1.loc[:,'MILLISEC':] = fsadl1.loc[:,'MILLISEC':].apply(pd.to_numeric, errors='coerce')
            fsadl1.to_csv(path+str(letter)+'-'+str(user)+'-'+str(trial)+'PP.csv', sep=';', index=False, header=False, decimal=',')

A-2-1.csv

/Users/yure/Documents/UN/Machine Learning/ml/lib/python3.7/site-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [29]:
fsadl1.head()

,muestra,fecha,MILLISEC,mano_izq_pulgar_nud_ref x,mano_izq_pulgar_nud_ref y,mano_izq_pulgar_nud_ref z,mano_izq_pulgar_nud_x,mano_izq_pulgar_nud_y,mano_izq_pulgar_nud_z,mano_izq_pulgar_nud_ro,...,mano_der_menique_fal1_z,mano_der_menique_fal1_ro,mano_der_menique_fal1_theta,mano_der_menique_fal1_phi,mano_der_menique_punta_x,mano_der_menique_punta_y,mano_der_menique_punta_z,mano_der_menique_punta_ro,mano_der_menique_punta_theta,mano_der_menique_punta_phi
0,0,1900-01-01 11:48:07.884522,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,356.8887,81.15695,123.9508,0.0,0.0,0.0,356.8887,81.15695,123.9508
1,1,1900-01-01 11:48:08.031439,146.917,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,356.8887,81.15695,123.9508,0.0,0.0,0.0,356.8887,81.15695,123.9508
2,2,1900-01-01 11:48:08.041431,156.909,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,356.8887,81.15695,123.9508,0.0,0.0,0.0,356.8887,81.15695,123.9508
3,3,1900-01-01 11:48:08.069415,184.893,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,356.8887,81.15695,123.9508,0.0,0.0,0.0,356.8887,81.15695,123.9508
4,4,1900-01-01 11:48:08.080410,195.888,0.0,0.0,0.0,0.0,0.0,0.0,0,...,0.0,356.8887,81.15695,123.9508,0.0,0.0,0.0,356.8887,81.15695,123.9508